<a href="https://colab.research.google.com/github/shyam1234/PythonTutorials/blob/master/Python_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Operators**

Operators are used to perform operations on variables and values.
Python divides the operators in the following groups:
```
Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators
```

**Python Arithmetic Operators**

Arithmetic operators are used with numeric values to perform common mathematical operations:

In [1]:
a = 5 + 4 
print (a)

9

**Python Assignment Operators**

Assignment operators are used to assign values to variables:

In [3]:
x = 30
x /= 3
print(x)

10.0

In [6]:
x= 34
x %= 3
print(x)

1

In [7]:
x=40
x //= 3
print(x)

13

In [8]:
x=2
x **= 3
print(x)

8

In [10]:
x=40
x >>= 3
print(x)

5

**Python Comparison Operators**

Comparison operators are used to compare two values:

In [11]:
x= 20
y= 10
z = x >= y
print(z)

True

**Python Logical Operators**

Logical operators are used to combine conditional statements:

In [15]:
x = 2
print(not(x < 5 and x < 10))
print(x)

False
2

**Python Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

In [17]:
x = 3
y = 2
print (x is not y)

True

In [18]:
x = 3
y = 3
print (x is y)

True

**Python Membership Operators**

Membership operators are used to test if a sequence is presented in an object

In [20]:
x = ["apple", "banana"]
print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [21]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

**Python Bitwise Operators**

Bitwise operators are used to compare (binary) numbers:

In [0]:
# & AND	Sets each bit to 1 if both bits are 1
# |	OR	Sets each bit to 1 if one of two bits is 1
# ^	XOR	Sets each bit to 1 if only one of two bits is 1
# ~ 	NOT	Inverts all the bits
# <<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
# >>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off